In [2]:
import pandas as pd 
import numpy as np

# proviamo Pandas
## anche numpy

Questo Ã¨ un testo in **markdown**. Guarda come funziona!

In [3]:
serie= pd.Series([range(5)])

In [6]:
serie

0    (0, 1, 2, 3, 4)
dtype: object

In [8]:
serie = pd.Series(range(5), index=["a","b","c","d","e"])
serie

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [9]:
df=pd.DataFrame({"key":["a","b","c"],"values": [1,2,3]})
df

  key  values
0   a       1
1   b       2
2   c       3